{% extends "base.html" %}
{% load i18n static %}
{% comment %}

Main page to recovery password.

{% endcomment %}
{% block addl_styles %}
{{ block.super }}
<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" />
{% endblock %}

{% block head %}
<title> {% trans "Kwyjibo" %} | {% trans "Change password" %}</title>
{% endblock %}

{% block subtitle %} {% trans "Change password" %}{% endblock %}
{% block nav_opts %}
<li><a href="{% url 'index' %}" title="{% trans 'home' %}"><span class="icon-home"></span></a></li>
{% endblock %}

{% block body %}
<div class="content">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<h3>{% trans "Change password" %}</h3>
			<form method="post">
				{% csrf_token %}
				<table>
					{{ form.as_table  }}
				</table>
				<button class="btn btn-primary" type="submit">{% trans 'Change' %}</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}