{% extends "base.html" %}
{% load i18n static %}

{% block head %}
<title> {% trans "Kwyjibo" %} | {% trans "Change password" %}</title>
{% endblock %}

{% block subtitle %} {% trans "Change password" %}{% endblock %}
{% block nav_opts %}
<li><a href="/" title="{% trans 'home' %}"><span class="icon-home"></span></a></li>
{% endblock %}

{% block body %}
<div class="container">
	{% csrf_token %}
	<div><h4>
		<p>{% trans "Your password has been changed successfully" %}</p>
	</h4></div>
</div>
{% endblock %}
