{% extends "registration/base.html" %}
{% load i18n %}
{% comment %}
Main page to authenticate users.
{% endcomment %}

{% block body %}
<div class="login-form">
	<form class="form-signin" method="post" action=".">
		<h2 class="form-signin-heading">{% trans "Login" %}</h2>
		{% csrf_token %}
		{% if form.errors %}
		<p class="error" >
			{% trans "Wrong credentials" %}
		</p>
		{% endif %}

		<label for="id_username" >{% trans "Username" %}</label>
		{{ form.username }}

		<label for="id_password">{% trans "Password" %}</label>
		{{ form.password }}

		<input type="hidden" name="next" value="{{ next }}" />
		
		<div>
			<button  class="btn btn-large btn-primary" type="submit">
				{% trans "Log in" %}
			</button>
		</div>
		<hr />
		<p>
			{% trans "Don't have a user yet?" %} <a href="{% url 'signup' %}">{% trans "Sign up" %}</a><br />
			{% trans "Forgot your password?" %} <a href="#"><!-- /recoverypass --> {% trans "Recover your password" %}</a>
		</p>

	</form>
</div>
{% endblock %}
