{% extends "base.html" %}
{% load i18n admin_static %}
{% block extrastyle %}
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}

{% block head %}
	<title>{% trans 'Kwyjibo' %} | {% trans 'Registrate' %}</title>
{% endblock %}

{% block body %}
    <div class="container">
		<h3 class="form-signin-heading">{% trans "Registration successful!" %}</h3>
		<h5>{% trans "You can now try to log in with your new credentials" %}. <a href="/">{% trans "Log in" %}</a></h5>
	</div>
{% endblock %}
