{% extends "base.html" %}
{% load i18n static %}

{% block head %}
<title>{% trans 'Kwyjibo' %} | {% trans 'Signup' %}</title>
{% endblock %}

{% block body %}
    <div class="container">
		<form class="form-signin" action="" method="post" >
			<h2 class="form-signin-heading">{% trans "Sign up on" %} {% trans 'Kwyjibo' %}</h2>
			{% csrf_token %}
			{{ form.as_table  }}
			<div>
				<button  class="btn btn-large btn-primary" type="submit">
					{% trans "Signup" %}
				</button>
			</div>
		</form>
	</div>
{% endblock %}
