{% extends "students/student_base.html" %}
{% load i18n %}
{% block content %}
    <div class="row">
        {% trans "Deliveries for" %} <b>{{assignment.name}}</b>
    </div>
    <table class="table table-striped">
        <thead style="text-align: center; ">
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Correction Status" %}</th>
                <th>{% trans "Revision Status" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.pk }}</td>
                <td>{{ delivery.full_date }}</td>
                <td>
                    {% if delivery.correction %}
                        <span class="label label-{% if delivery.correction.grade >= 4 %}success{% else %}warning{% endif %}">{% trans "Corrected" %}</span>
                    {% else %}
                        <span class="label label-important">{% trans "Uncorrected" %}</span>
                    {% endif %}
                </td>
                <td>
                    {% if delivery.revision.status == 'SUCCESSFUL' %}
                        <span class="label label-success">{% trans "Successful" %}</span>
                    {% elif delivery.revision.status == 'FAILED' %}
                        <span class="label label-important">{% trans "Failed" %}</span>
                    {% elif delivery.revision.status == 'UNKNOWN' %}
                        <span class="label label-important">{% trans "Unknown" %}</span>
                    {% else %}
                        <span class="label label-warning">{% trans "Pending" %}</span>
                    {% endif %}
                </td>
                <td>
                    <a title="{% trans 'Revision' %}" class="icon-asterisk" href="{% url 'students:revision_details' course.pk assignment.pk delivery.pk %}"></a>
                    {% if delivery.correction %}
                        <a name="correct{{delivery_row.delivery.pk}}" title="{% trans 'Correction' %}" class="icon-pencil" href="{% url 'students:correction_details' course.pk assignment.pk delivery.pk %}"></a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">{% trans "There are no deliveries for this assignment" %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        <a class="btn btn-small" href="{% url 'students:assignments' course.pk %}"><span class="icon-backward" title="{% trans 'back' %}"></span></a>
    </footer>
{% endblock %}
