{% extends "students/student_base.html" %}
{% load i18n %}
{% comment %}
    Main page of the Student's portal.
{% endcomment %}

{% block title %}{% trans "Student" %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <h4>{% trans "Courses" %} - {% trans "Shifts" %}</h4>
    </div>

    <table class="table table-striped">
        <thead><tr><th>{% trans "Name" %}</th></tr></thead>
        <tbody>
        {% for shift in shifts %}
            <tr>
                <td><a href="{% url 'students:assignments' shift.course.pk %}">{{ shift }}</a></td>
            </tr>
        {% empty %}
            <tr><td>{% trans "You are not enrolled in any shift." %}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <!--
    <div><h5><a href="/students/suscription/" >{% trans "Suscribe" %}</a></h5></div> 
    -->
</div>
{% endblock %}
