{% extends "teachers/teacher_base.html" %}
{% load i18n %}
{% block content %}
    <div class="row">
        <h3>{{ delivery.student.uid }} - {{ delivery.student.first_name }} {{ delivery.student.last_name }} / {{ assignment.uid }}</h3>
    </div>
    <div class="row"><h4>{{ delivery.date|date:"SHORT_DATETIME_FORMAT" }} - {{ delivery_detail }} / {% trans "Auto-revision status" %}:
            <span style="font-weight: bold; color: 
            {% if revision.status == 'SUCCESSFUL' %}
                green
            {% elif revision.status == 'PENDING' %}
                gray
            {% else %}
                red
            {% endif %}
            ;">
                {{ revision.status }}
            </span>
        </h4>
    </div>
    <div class="row">
        <h5>{% trans "Corrector" %} - <b>{{corrector}}</b></h5>
    </div>

	<div class="row">
		<div class="span12"><!-- col-sm-12 -->
            {% if unsupported %}
                <span>{% trans 'Could not extract delivered file.' %}</span><!-- Re-pack it and post a new delivery. -->
            {% else %}
			<ul>
				{% for filepath in files_list %}
					<li>
						<a href="{% url 'teachers:browse_delivery' current_course.pk delivery.pk filepath %}" >{{ filepath }}</a>
					</li>
				{% empty %}
					<li>{% trans "No files where found in the delivery" %}</li>
				{% endfor %}
			</ul>
            {% endif %}
		</div>
	</div>

<!--
	<div class="row">
		<a class="btn btn-small" href="javascript:history.back()"><span class="icon-backward" title="{% trans 'back' %}"></span></a>
	</div>
-->
	{% if file_content %}
		<pre>{{ file_content }}</pre>
	{% endif %}
{% endblock %}
